option_settings:

  # ELB configured to pass 443 traffic through to the instances
  aws:elb:listener:443:
    ListenerProtocol: TCP
    InstancePort: 443
    InstanceProtocol: TCP

  # Open port 80 for redirect
  aws:elb:listener:80:
    InstancePort: 8080
    InstanceProtocol: HTTP
    ListenerEnabled: 'true'
    ListenerProtocol: HTTP

  # ELB Settings
  aws:elb:healthcheck:
    HealthyThreshold: '3'
    Interval: '10'
    Target: TCP:443
    Timeout: '5'
    UnhealthyThreshold: '5'

  # Instance Size
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro